<app-header></app-header>
<div class="container">
  <section>
    <div class="row">
      <div class="d-flex align-items-center background w-100">
        <div class="container">
          <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="term-carousel">
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-between align-items-center">
                <div class="left d-flex flex-column justify-content-between">
                  <div class="title_and_definition">
                    <div class="title-container d-flex align-items-center">
                      <h1 class="m-0 title fw-bold">Alfa</h1>
                      <div class="m-0 area-field">Álgebra</div>
                    </div>
                    <p class="definition">Alfa (Α ou α; em grego: άλφα, transl.: álpha) é a primeira letra do alfabeto
                      grego e tem um valor numérico de 1. Ela é derivada da letra fení...</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end">
                    <p class="about position-relative">LER MAIS</p>
                  </div>
                </div>
                <div class="right">
                  <div class="placeholder"></div>
                </div>
              </div>
              <div class="carousel-item d-flex justify-content-between align-items-center">
                <div class="left d-flex flex-column justify-content-between">
                  <div class="title_and_definition">
                    <div class="title-container d-flex align-items-center">
                      <h1 class="m-0 title">Lorem</h1>
                      <div class="m-0 area-field">Álgebra</div>
                    </div>
                    <p class="definition">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis
                      elementum tortor id consectetur...</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end">
                    <p class="about position-relative">LER MAIS</p>
                  </div>
                </div>
                <div class="right">
                  <div class="placeholder"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-end bottom-content">
      <div class="col-3">
        <div class="search d-flex justify-content-between align-items-center">
          <input class="w-100" placeholder="Pesquise verbetes aqui" (keydown)="searchEntries($event)">
          <mat-icon aria-hidden="false" aria-label="icon" fontIcon="search"></mat-icon>
        </div>
      </div>
      <div class="col-9 d-flex justify-content-between align-items-center">
        <h1 class="contents m-0">Assuntos</h1>
        <button *ngIf="isStaff === true" class="add-new-area" data-bs-toggle="modal"
                data-bs-target="#createKnowledgeArea">Adicionar Nova Aréa
        </button>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-3 left2 d-flex flex-column">
        <div class="search-example d-flex align-items-center">
          <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
          <p class="m-0 knowledge-area">Lorem ipsum</p>
        </div>
        <div id="color-2" class="search-example d-flex align-items-center">
          <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
          <p class="m-0 knowledge-area">Lorem ipsum</p>
        </div>
        <div id="color-3" class="search-example d-flex align-items-center">
          <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
          <p class="m-0 knowledge-area">Lorem ipsum</p>
        </div>
      </div>
      <div class="right2 col-9">
        <ul class="d-flex list-unstyled flex-shrink-0 field-container overflow-x-scroll">
          <li *ngFor="let card of knowledgeAreaCards"
              class="field-card overflow-hidden flex-shrink-0 text-center position-relative">
            <h2>{{ card.content | capitalize }}</h2>
            <div class="white-ball position-absolute">
              <h3 class="qnt position-absolute">{{ card.amountOfEntries }}</h3>
            </div>

          </li>
        </ul>
      </div>
    </div>


    <!--    modal-->
    <div class="modal fade" id="createKnowledgeArea" tabindex="-1" aria-labelledby="admModal" aria-hidden="true">
      <div class="modal-dialog w-100 h-100 p-0 m-0">
        <div class="modal-content d-flex flex-column w-100 h-100">
          <div class="modal-header d-block w-100 text-center border-0 p-0">
            <h1 class="modal-title" id="admModal">Criar nova área do conhecimento</h1>
          </div>
          <form [formGroup]="KnowledgeAreaForm" (ngSubmit)="onSubmit()" action="" class="d-flex flex-column">
            <div class="modal-body px-0">
              <div class="d-flex gap-p flex-column">
                <label for="content" class="mb-2">Insira o nome da nova área</label>
                <input type="text" id="content" (input)="searchContent()" formControlName="content">
              </div>
              <div class="areas mt-1">
                <p>Resultados correspondentes a ”{{ KnowledgeAreaForm.get("content")?.value }}“ :</p>
                <ul class="d-flex w-100 justify-content-between overflow-x-scroll list-unstyled m-0 p-0 pb-2">
                  <li *ngFor="let result of contentResults" class="area-box col-2">{{result.content}}</li>
                </ul>
              </div>
              <div class="d-flex gap-p flex-column">
                <label for="subject" class="mb-2">Em qual área se insere?</label>
                <input formControlName="subject" (input)="searchSubject()" id="subject" type="text">
              </div>
              <div class="areas mt-1">
                <p>Resultados correspondentes a ”{{ KnowledgeAreaForm.get("subject")?.value }}“ :</p>
                <ul class="d-flex w-100 justify-content-between list-unstyled m-0 p-0 pt-1">
                  <li *ngFor="let result of subjectResults" class="area-box col-2">{{result.subject}}</li>
                </ul>
              </div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-between">
              <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" [disabled]="KnowledgeAreaForm.invalid" class="confirm" data-bs-dismiss="modal">Confirmar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
