<section>
  <div class="row">
    <div class="d-flex align-items-center background w-100">
      <div class="container d-flex justify-content-between">
        <div class="left">
          <div class="title d-flex align-items-center">
            <h1 class="m-0 title">Lorem</h1>
            <div class="m-0 area-field">álgebra</div>
          </div>
          <p class="definition">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis elementum tortor id consectetur... </p>
          <div class="w-100 d-flex justify-content-end">
            <p class="about position-relative">LER MAIS</p>
          </div>
        </div>
        <div class="right">
          <div class="placeholder">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-content">
    <div class="col-3 left2 d-flex flex-column">
      <div class="search d-flex justify-content-between">
        <input class="fs-4" placeholder="Clique para pesquisar">
        <mat-icon aria-hidden="false" aria-label="icon" fontIcon="search"></mat-icon>
      </div>
      <div class="search-example d-flex align-items-center">
        <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
        <p class="fs-4 m-0">Lorem ipsum</p>
      </div>
      <div id="color-2" class="search-example d-flex align-items-center">
        <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
        <p class="fs-4 m-0">Lorem ipsum</p>
      </div>
      <div id="color-3" class="search-example d-flex align-items-center">
        <mat-icon aria-hidden="false" class="search-icon" aria-label="icon" fontIcon="search"></mat-icon>
        <p class="fs-4 m-0">Lorem ipsum</p>
      </div>
    </div>
  </div>
</section>
