section {
  margin-top: 20px;
}

section .container {
    max-width: 89%;
}

.background {
  background-image: url('images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 30px;
  color: var(--text-color-light);
  font-weight: 500;
}

.left {
  width: 50%;
}

.title-container {
  font-weight: 700;
  gap: 2rem;
}

.area-field {
  padding: 15px 20px;
  border: 2px solid var(--page-color-1);
  border-radius: 15px;
  font-size: 34px;
}

.title {
  font-size: 60px;
}

.definition {
  font-size: 30px;
  max-width: 774px;
  line-height: normal;
  margin-top: 15px;
}

.about {
  font-size: 24px;
}

.about::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 7px;
  width: 100%;
  background-color: var(--page-color-1);
  border-radius: 15px;
}

.placeholder {
  background-color: var(--page-color-1);
  opacity: 1;
  height: 300px;
  width: 300px;
  border-radius: 19px;
}

.bottom-content {
  margin-top: 54px;
  margin-bottom: 33px;
}

.bottom-content .contents {
  font-size: 48px;
  font-weight: 400;
}

.left2 {
  gap: 23px;
}

.search {
  background: none;
  border-bottom: 2px solid #000;
  padding-bottom: 10.5px;
}

.search input {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 20px;
}

.search input::placeholder {
  color: rgba(2, 16, 36, 0.65);
}

.search-example {
  padding: 8px 30px;
  font-weight: 400;
  color: var(--text-color-light);
  gap: 23px;
  border-radius: 42px;
  background-color: var(--page-color-3);
}

.search-example .search-icon {
  font-size: 44px;
  width: 44px;
  height: 44px;
}

#color-2 {
  background-color: var(--page-color-4);
}

#color-3 {background-color: var(--page-color-2)}

.col-9 {
  width: 68.5%;
}

.field-container {
  gap: 59px;
  padding-bottom: 10px;
  margin: 0;
  box-sizing: border-box;
}

.knowledge-area {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--page-color-2);
  border-radius: 10px;
  border: 3px solid #dcdcdc;
}

/* Efeito de hover na "thumb" */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--page-color-3);
}

.field-card {
  background-image: url("images/Card_background.png");
  background-repeat: no-repeat;
  height: 258px;
  width: 258px;
  border-radius: 15px;
  color: var(--text-color-light);
}

.field-card h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 50px;
}

.white-ball {
  width: 127px;
  height: 127px;
  background-color: var(--page-color-1);
  border-radius: 50%;
  color: var(--text-color-dark);
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}

.qnt {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1201px) {

  .qnt {
    font-size: 24px;
  }

  .background {
    height: 300px;
  }

  .placeholder {
    width: 200px;
    height: 200px;
  }

  .title-container {
    font-weight: 700;
    gap: 1.2rem;
  }

  .bottom-content .contents {
    font-size: 40px;
    font-weight: 400;
  }

  .area-field {
    padding: 5px 10px;
    font-size: 20px;
  }

  .title {
    font-size: 45px;
  }

  .definition {
    font-size: 16px;
  }

  .search-example .search-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }

  .knowledge-area {
    font-size: 16px;
  }

  .bottom-content {
    margin-top: 10px;
    margin-bottom: 22px;
  }

  .search input {
    font-size: 16px;
  }

  .field-card {
    height: 190px;
    width: 190px;
  }

  .field-card h2 {
    font-size: 26px;
  }

  .white-ball {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .background {
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  nav ul {
    display: block;
    padding: 0;
  }

  nav li {
    margin-bottom: 10px;
  }
}
