section {
  margin-top: 20px;
}

section .container {
    max-width: 89%;
}

.background {
  background-image: url('images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 30px;
  color: var(--text-color-light);
  font-weight: 500;
}

.left {
  width: 50%;
}

.title-container {
  font-weight: 700;
  gap: 1.2rem;
}

.area-field {
  padding: 5px 10px;
  border: 2px solid var(--page-color-1);
  border-radius: 15px;
  font-size: 20px;
  font-family: poppins, serif;
  font-weight: 500;
}

.title {
  font-size: 45px;
}

.definition {
  font-size: 16px;
  max-width: 774px;
  line-height: normal;
  margin-top: 15px;
}

.about {
  font-size: 24px;
}

.about::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 7px;
  width: 100%;
  background-color: var(--page-color-1);
  border-radius: 15px;
}

.placeholder {
  background-color: var(--page-color-1);
  opacity: 1;
  height: 200px;
  width: 200px;
  border-radius: 19px;
}

.bottom-content {
  margin-top: 10px;
}

.bottom-content .contents {
  font-size: 40px;
  font-weight: 400;
}

.left2 {
  gap: 23px;
  padding-top: 30px;
}

.search {
  background: none;
  border-bottom: 2px solid #000;
  padding-bottom: 10.5px;
}

.search input {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.search input::placeholder {
  color: rgba(2, 16, 36, 0.65);
}

.search-example {
  padding: 8px 30px;
  font-weight: 400;
  color: var(--text-color-light);
  gap: 23px;
  border-radius: 42px;
  background-color: var(--page-color-3);
  cursor: pointer;
}

.search-example .search-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

#color-2 {
  background-color: var(--page-color-4);
}

#color-3 {background-color: var(--page-color-2)}

.col-9 {
  width: 68.5%;
}

.field-container {
  gap: 59px;
  padding-bottom: 10px;
  margin: 0;
  padding-top: 22px;
  overflow-x: auto;
  overflow-y: visible;
}

.knowledge-area {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--page-color-2);
  border-radius: 10px;
  border: 3px solid #dcdcdc;
}

/* Efeito de hover na "thumb" */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--page-color-3);
}

.field-card {
  background-image: url("images/Card_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: 15px;
  overflow-y: visible;
  color: var(--text-color-light);
}

.field-card h2 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 50px;
}

.qnt {
  bottom: -1vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px !important;
  color: var(--page-color-6);
}

.add-new-area {
  padding: 3px 20px;
  border-radius: 15px;
  border: 2px solid var(--page-color-6);
  color: var(--page-color-6);
  font-weight: 500;
  background-color: transparent;
  font-size: 18px;
}

.areas p {
  color: #052659;
  font-size: 16px;
  font-weight: 500;
}

.modal button {
  width: 200px;
}

.area-box {
  border-radius: 15px;
  border: 2px solid #052659;
  color: #052659;
  width: max-content;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
}

#createKnowledgeArea {
  height: 55vh;
}

#createKnowledgeArea form {
  gap: 0;
}

#createKnowledgeArea .modal-header{
  margin-top: 0 !important;
}

#createKnowledgeArea label {
  font-size: 18px !important;
}

#createKnowledgeArea .modal-title{
    font-size: 28px !important;
}

#createKnowledgeArea .modal-content {
  padding-top: 37px;
  padding-right: 100px;
  padding-left: 100px;
}

.crud-buttons {
  right: -15px;
  top: -20px;
  z-index: 20;
}

.crud-button {
  width: 50px;
  height: 50px;
  border-radius: 92px;
  border: 4px solid var(--page-color-4);
  background: #FFF;
  color: var(--page-color-6);
}

.modal-destaque {
  color: var(--page-color-6);
  font-size: 35px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 1920px) {
  .container-main {
    margin-top: 3rem;
  }

  .add-new-area {
    font-size: 24px;
    padding: 8px 15px;
  }

  .search input{
    font-size: 24px;
  }

  .search mat-icon {
    height: 36px;
    width: 36px;
    font-size: 36px;
  }

  #createKnowledgeArea,
  #updateKnowledgeArea {
    height: fit-content;
  }

  #createKnowledgeArea .modal-title{
    font-size: 48px !important;
  }

  .background {
    height: 414px;
  }

  .field-card {
    height: 256px;
    width: 256px;
  }

  .white-ball {
    width: 116px;
    height: 116px;
  }

  .qnt {
    font-size: 44px;
    color: var(--page-color-6);
    font-weight: normal;
  }

  .area-box {
    width: max-content;
    font-size: 28px;
    font-weight: 500;
    padding: 5px 20px;
  }

  .areas p {
    font-size: 20px;
  }

  .knowledge-area {
    font-size: 24px;
  }

  .search-example .search-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
  }

  .placeholder {
    width: 300px;
    height: 300px;
  }

  .definition {
    font-size: 24px;
  }

  .title {
    font-size: 64px;
  }

  .bottom-content {
    margin-top: 44px;
  }

  .area-field {
    font-size: 36px;
    padding: 15px 10px;
  }
}
