<section class="d-flex h-100">
  <div class="col info">
    <div class="container h-100">
      <div class="row justify-content-start">
        <img class="logo" src="logo.svg" alt="">
      </div>
      <div class="d-flex flex-column align-items-center forms-container h-100">
        <div class="text w-75 d-flex flex-column ">
          <h1 class="m-0">Registro</h1>
          <p>Registre-se para sugerir alterações nos verbetes, favoritar os que você mais gostar e acessar o histórico de acesso aos verbetes.</p>
        </div>
        <form class="d-flex flex-column w-75" action="">
          <div class="form-input d-flex flex-column">
            <label for="name">nome</label>
            <input class="form-input" type="text" id="name" placeholder="...">
          </div>
          <div class="form-input d-flex flex-column">
            <label for="username">username</label>
            <input class="form-input" type="text" id="username" placeholder="...">
          </div>
          <div class="form-input d-flex flex-column">
            <label for="Email">Email</label>
            <input class="form-input" type="text" id="Email" placeholder="...">
          </div>
          <div class="form-input d-flex flex-column">
            <label for="password">Senha</label>
            <input class="form-input" type="text" id="password" placeholder="...">
          </div>
          <div class="d-flex justify-content-between">
            <label class="d-flex align-items-center gap-3">
              <input class="custom-checkbox d-none" type="checkbox" [checked]="false" name="remember_me" value="true">
              <span class="custom-checkbox-label">Lembrar de mim</span>
            </label>
            <a class="btn btn-login">Registrar</a>
          </div>
          <p>Já tenha uma conta. <span routerLink="/login" class="text-blue">ENTRAR</span></p>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8 h-100">
    <div class="background w-100 h-100"></div>
  </div>
</section>
