.background {
  background-image: url('register-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 60px 60px 0;
  min-height: 100vh;
  height: 100%;
}

.info {
  margin-top: 35px;
}

.forms-container {
  margin-top: 77px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  cursor: pointer;
}

.forms-container {
  margin-top: 20px;
}

form {
  gap: 36px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(2, 16, 36, 0.65);
}

.text {
  gap: 6px;
}

.text h1 {
  font-size: 35px;
  width: fit-content;
}

.text p {
  font-size: 11px;
  line-height: normal;
  font-weight: 500;
  color: #5B6471;
}

.form-input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--page-color-2);
  outline: none;
  padding-top: 5px;
  font-size: 14px;
}

.form-input input {
  font-size: 11px;
}

.custom-checkbox {
  cursor: pointer;
  padding-left: 12px;
  font-size: 14px;
  display: inline-block;
  color: var(--page-color-5);
}

.btn-login {
  color: var(--page-color-6);
  border: 2px solid var(--page-color-6);
  border-radius: 64px;
  font-size: 16px;
  font-weight: 500;
  padding: 2px 18px;
  transition: background-color 0.2s ease-in-out;
}

.btn-login:hover {
  background-color: var(--page-color-5);
  color: var(--text-color-light);
}

.redirect {
  font-size: 14px;
}

.text-blue {
  color: #052659;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 1920px) {
  .logo {
    height: 80px;
    width: 80px;
  }

  .text {
    margin-bottom: 20px;
  }

  .text h1 {
    font-size: 40px;
  }

  form {
    gap: 46px;
  }

  .text p {
    font-size: 16px;
  }

  .form-input {
    font-size: 19px;
  }

  .form-input input {
    font-size: 16px;
  }

  .redirect {
    font-size: 18px;
  }

  .custom-checkbox {
    font-size: 18px;
  }

  .forms-container {
    margin-top: 77px;
  }

  .btn-login {
    font-size: 24px;
  }
}
