<app-header></app-header>
<main class="container pb-5">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="col-7">
        <div class="d-flex align-items-center gap-3">
          <input formControlName="content" type="text"
                 name="entryContent" id="entryContent"
                 placeholder="Nome do verbete"
                 class="fs-4 ps-3"
                 [value]="this.form.get('content')!.value"
          >
          <select formControlName="main_term_grammatical_category"
                  class="fs-6 ps-2"
                  [value]="this.form.get('main_term_grammatical_category')!.value">
            <option value="" selected disabled>Classe gramatical</option>
            <option value="substantivo">Substantivo</option>
            <option value="adjetivo">Adjetivo</option>
            <option value="verbo">Verbo</option>
            <option value="numeral">Numeral</option>
          </select>
          <select formControlName="main_term_gender"
                  class="fs-6 ps-2"
                  [value]="this.form.get('main_term_gender')!.value">
            <option value="" selected disabled>Gênero</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select></div>
        <div formArrayName="definitions" class="definition-card mt-3">
          <div id="definitionsCarousel" class="carousel slide">
            <div class="carousel-inner">
              @for (definitionForm of definitions.controls; let i = $index; track i) {
                <div class="carousel-item" id="definition-{{i}}">
                  <div [formGroupName]="i" class="px-3">
                    <select name="knowledge_area-{{i}}"
                            id="knowledge_area{{i}}"
                            formControlName="knowledge_area__content"
                            class="form-select"
                            [value]="definitions.at(i).value.knowledge_area__content"
                    >
                      <option value="" selected disabled>Selecionar área</option>
                      @for (area of this.knowledgeAreas; track $index) {
                        <option [value]="area.content">{{ area.content }}</option>
                      }
                    </select>

                    <div class="d-flex gap-3 mt-3">
                      <h3 class="fs-6 definition-number fw-medium">#{{ i + 1 }}</h3>
                      <input formControlName="content"
                             [value]="definitions.at(i).value.content"
                             type="text"
                             name="definitionContent-{{i}}"
                             id="definitionContent{{i}}"
                             placeholder="Insira a definição"
                             class="ps-3 form-control fs-5">
                    </div>
                  </div>
                </div>
              }
            </div>
            <button
              [className]="definitions.length <= 1 ? 'cursor-not-allowed carousel-control-prev' : 'carousel-control-prev'"
              [disabled]="definitions.length <= 1"
              class="carousel-control-prev"
              type="button"
              data-bs-target="#definitionsCarousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              [className]="definitions.length <= 1 ? 'cursor-not-allowed carousel-control-next' : 'carousel-control-next'"
              [disabled]="definitions.length <= 1"
              class="carousel-control-next"
              type="button"
              data-bs-target="#definitionsCarousel"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="definition-actions d-flex gap-4">
            <button class="btn" (click)="deleteActiveDefinition()" type="button">
              <img ngSrc="delete-primary.svg" alt="excluir" width="20" height="20">
            </button>
            <button class="btn fs-3 fw-bold" (click)="addDefinition()" type="button">
              <p class="m-0 lh-1">+</p>
            </button>
          </div>
        </div>

      </div>
      <div class="col-4 offset-1">
        <div formArrayName="images" class="image-card mt-4 position-relative">
          <div id="imagesCarousel" class="carousel slide">
            <div class="carousel-inner">
              @for (imageForm of images.controls; let i = $index; track i) {
                <ng-container [formGroupName]="i">
                  <div class="carousel-item px-2" id="image-{{i}}">
                    <div class="d-flex justify-content-between">
                      <input type="file" id="imageContent{{i}}" class="d-none">
                      <label for="imageContent{{i}}"
                             class="image-content-label d-flex justify-content-center align-items-center p-2">
                        <span
                          [className]="imageForm.value.base64_image == '' ? 'fw-bold fs-2' : 'fw-bold fs-2 d-none'">+</span>
                        <img [src]="imageForm.value.base64_image" alt="" class="mw-100 mh-100">
                      </label>
                      <textarea name="imageCaption-{{i}}"
                                id="imageCaption{{i}}"
                                formControlName="caption"
                                class="bg-transparent form-control"
                                placeholder="Insira a legenda aqui..."
                                [value]="imageForm.value.caption"
                      ></textarea>
                    </div>
                  </div>
                </ng-container>
              }
            </div>
            <div class="d-flex justify-content-between align-items-center gap-4 mt-3 buttons-bar">
              <button
                [className]="images.length <= 1 ? 'cursor-not-allowed carousel-control-prev' : 'carousel-control-prev'"
                [disabled]="images.length <= 1"
                type="button"
                data-bs-target="#imagesCarousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <div class="d-flex gap-3">
                <button class="btn" (click)="deleteActiveImage()" type="button">
                  <img ngSrc="delete.svg" alt="add" width="24" height="24">
                </button>
                <button class="btn fw-bold fs-2 lh-sm py-0" (click)="addImage()" type="button">+</button>
              </div>
              <button
                [className]="images.length <= 1 ? 'cursor-not-allowed carousel-control-next' : 'carousel-control-next'"
                [disabled]="images.length <= 1"
                type="button"
                data-bs-target="#imagesCarousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-questions-carousel
          [form]="form"
          [questions]="questions"
          (addQuestion)="addQuestion($event)"
          (deleteQuestion)="deleteQuestion($event)"
          (editQuestion)="editQuestion($event)"
        >
        </app-questions-carousel>
      </div>
      <div class="d-flex justify-content-end">
        <input type="submit" value="Enviar" class="btn px-4 border border-primary">
      </div>
    </div>
  </form>
</main>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngIf="form.invalid && form.dirty" class="toast show toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="logo.svg" class="rounded me-2 toast-image" alt="...">
      <strong class="me-auto">Há algo de errado</strong>
    </div>
    <div class="toast-body">
      {{ form.errors }}
    </div>
  </div>
</div>
