<header>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand m-0" routerLink="">
        <img src="logo.svg" class="logo" alt="Bootstrap">
      </a>
      <ul class="d-flex position-absolute list-unstyled navItems">
        <li *ngFor="let item of navItems">
          <a class="text-decoration-none position-relative"  routerLinkActive="active" [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: true }"> {{ item.label }}</a>
        </li>
      </ul>
      <div *ngIf="showElement" class="buttons">
        <button *ngIf="!authService.isAuthenticated()" routerLink="/login" class="btn btn-login">Entrar</button>
        <button *ngIf="!authService.isAuthenticated()" routerLink="/register" class="btn btn-register">Registrar</button>
        <button *ngIf="authService.isAuthenticated()" class="bg-transparent user-tab" routerLink="/profile"></button>
      </div>
    </div>
  </nav>
</header>
