header {
  margin-top: 15px;
}

.logo {
  width: 45px;
}

.navbar-brand {
  flex: 0 0 auto
}

.navItems {
  margin: 0;
  gap: 28px;
  font-size: 18px;
  justify-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.navItems li {
  padding: 10px;
}

.navItems a {
  color: var(--page-color-6);
  font-weight: 500;
}

.navItems a::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.navItems a.active::after {
  height: 2.6px;
  width: 100%;
}

.buttons {
  flex: 0 0 auto;
}

.btn {
  border-radius: 64px;
  font-weight: 500;
  font-family: Poppins, sans-serif !important;
  font-size: 18px;
  padding: 2px 23px;
}

.btn-login {
  margin-right: 22px;
  color: var(--page-color-6) !important;
  border: 2px solid var(--page-color-6);
}

.btn-register {
  background-color: var(--page-color-4);
  color: var(--text-color-light);
  font-weight: 500;
}

.user-tab {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-image: url("placeholder-image.png");
  background-size: cover;
  border: 2px solid var(--page-color-6);
}
