<header>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img src="logo.svg" class="logo" alt="Bootstrap">
      </a>
      <ul class="d-flex list-unstyled navItems">
        <li *ngFor="let item of navItems">
          <a class="text-decoration-none position-relative fs-4"  routerLinkActive="active" [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: true }"> {{ item.label }}</a>
        </li>
      </ul>
      <div class="buttons">
        <button routerLink="login" mat-stroked-button class="btn btn-login fs-4">Entrar</button>
        <button routerLink="register" mat-flat-button class="btn btn-register fs-4">Registrar</button>
      </div>
    </div>
  </nav>
</header>
