main *:not(mat-icon) {
  font-family: Poppins, sans-serif !important;
  color: #052659;
}

.container {
  max-width: 100%;
}

h3 {
  font-size: 25px !important;
}

.row {
  --bs-gutter-x: 0;
}

.badge-knowledge-area {
  font-size: 20px;
  border-radius: 15px;
  border-width: 2px;
  padding: 5px 15px;
}

.badge-knowledge-area-sm {
  font-size: 12px;
  font-weight: 400;
  border-radius: 8px;
  border-width: 1px;
  padding: 2px 8px;

  border-color: #606060;
  color: #606060 !important;
}

.badge-knowledge-area, .badge-knowledge-area-sm {
  border-style: solid;
  height: fit-content;
}

.definition-content {
  font-size: 18px
}

.carousel-border {
  border-color: #052659 !important;
}

.examples {
  margin-top: 40px;
}

.examples .example {
  border-radius: 16px;
  border: 1px solid #052659;
  padding: 16px;
  max-height: 250px;
}

#entryCarousel {
  width: 400px !important;
  height: 350px;
}

button:not(#validateEntry) {
  width: 32px;
  height: 32px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s ease, transform 1s ease, border 1s ease, border-radius 1.5s ease;
}

.carousel-item img {}

.carousel-item .spinner-container {
  width: 100%;
  height: 100%;
}

.carousel-item.active img,
.carousel-item.active .spinner-container {
  opacity: 1;
  border: 3px solid var(--page-color-6);
  border-radius: 20px;
  transform: scale(1);
}

.carousel-item-next, .carousel-item-prev {
  transform: translateX(0);  /* Faz com que o slide atual saia suavemente */
  transition: transform 1s ease; /* Animação de deslizamento */
}

.carousel-item-next.active, .carousel-item-prev.active {
  transform: translateX(0); /* Fica no lugar certo depois da transição */
}

.carousel-inner {
  overflow: visible;
  width: 350px !important;
  height: 350px !important;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-caption {
  bottom: -80px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
}

.carousel-item.active .carousel-caption {
  transform: translateY(0);
  opacity: 1;
}

.carousel-item-next .carousel-caption, .carousel-item-prev .carousel-caption {
  transform: translateY(30px);  /* O texto desce fora da tela */
  opacity: 0;  /* O texto desaparece */
}

.bottom-content {
  height: 35vh;
}

.background{
  height: 100vh;
  width: 100vw;
  background-image: url("bg-esquisito-cortado.png");
  background-size: cover;
  z-index: 9999999999;
}

button#editEntry, button#deleteEntry, button#validateEntry {
  border: 2px solid #052659;
}

button#editEntry, button#deleteEntry, button#validateEntry {
  background: #FFF;
}

#entryCarousel {
    width: 280px;
    height: 448px;
  }

@media (min-width: 1920px) {
  .title {
    font-size: 40px !important;
  }

  .examples h3 {
    font-size: 40px !important;
    margin-bottom: 10px !important;
  }

  .definition-content {
    font-size: 24px;
    margin-top: 15px !important;
  }

  #entryCarousel {
    width: 350px;
    height: 500px;
  }

  .badge-knowledge-area-sm {
    font-size: 20px;
  }
}
