main * {
  font-family: Poppins, sans-serif !important;
  color: #052659;
}

.container {
  max-width: 100%;
}

h3 {
  font-size: 25px !important;
}

.row {
  --bs-gutter-x: 0;
}

.badge-knowledge-area {
  font-size: 20px;
  border-radius: 15px;
  border-width: 2px;
  padding: 5px 15px;
}

.badge-knowledge-area-sm {
  font-size: 12px;
  font-weight: 400;
  border-radius: 8px;
  border-width: 1px;
  padding: 2px 8px;

  border-color: #606060;
  color: #606060 !important;
}

.badge-knowledge-area, .badge-knowledge-area-sm {
  border-style: solid;
  height: fit-content;
}

.definition-content {
  font-size: 18px
}

.carousel-border {
  border-color: #052659 !important;
}

.examples {
  margin-top: 40px;
}

.examples .example {
  border-radius: 16px;
  border: 1px solid #052659;
  padding: 16px;
}

#entryCarousel {
  width: 320px;
  height: 320px;
  border: 3px solid var(--page-color-6);
  border-radius: 19px;
}

button {
  width: 32px;
  height: 32px;
  height: 32px;
}

#entryCarousel img {
  border-radius: 19px;
}

.carousel-item img {
  object-fit: cover;
}


.carousel-caption {
  top: 100%;
  padding-top: 8px;
}

.background{
  height: 100vh;
  width: 100vw;
  background-image: url("bg-esquisito-cortado.png");
  background-size: cover;
  z-index: 9999999999;
}

button#editEntry, button#deleteEntry {
  border: 2px solid #052659;
}

@media (min-height: 1080px) {
  .title {
    font-size: 40px !important;
  }

  .examples h3 {
    font-size: 40px !important;
    margin-bottom: 10px !important;
  }

  .definition-content {
    font-size: 24px;
    margin-top: 15px !important;
  }

  #entryCarousel {
    width: 501px;
    height: 501px;
  }

  .badge-knowledge-area-sm {
    font-size: 20px;
  }
}
