<app-header></app-header>
<section class="container">
  <h2>Most Accessed Entries</h2>

  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="!isLoading && !errorMessage">
    <div class="d-flex gap-3">
      <div *ngFor="let entry of entryDetails" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ entry.content }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"
              *ngFor="let item of entry.definitions">
            {{ item.knowledge_area }}
          </h6>
          <p class="card-text" *ngFor="let definition of entry.definitions">
            {{ definition.content }}
          </p>
          <a href="#" class="card-link" [routerLink]="['/entry', entry.id]">Ver verbete</a>
        </div>
      </div>
    </div>
  </div>
</section>
