.background {
  background-image: url("background-20.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-gambiarra {
  width: 68%;
  left: 2%;
}

.content-background {
  width: 56%;
  height: 200%;
  background-color: var(--page-color-1);
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 0 0 11px 21px rgba(0, 0, 0, 0.25) inset;
  display: inline-flex;
  transform: rotate(-34.743deg);
  padding: 55.798px 0px 58.75px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -50%;
}

.texture-ball {
  background-color: var(--page-color-1);
  background-image: url("background.png");
  background-size: cover;
  background-blend-mode: multiply;
  width: 16vw;
  height: 16vw;
  border-radius: 436px;
  top: 15vh;
  left: 8vw;
}

.texture-ball .profile-image {
  background-image: url("placeholder-image.png");
  background-size: cover;
  width: 13.6vw;
  height: 13.6vw;
  border-radius: 362px;
}

.cruds {
  height: 567.962px;
  transform: rotate(-34.512deg);
  flex-shrink: 0;
  color: var(--page-color-6);
  bottom: 0;
  left: 28%
}

.crud {
  font-weight: 400;
  transform: rotate(34.512deg);
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none  ;
}

.crud, .crud button {
  transition: color .3s ease-in-out;
}
.crud .mat-icon {
  font-size: 55px !important;
  width: 55px;
  height: 55px;
}

.delete_button:hover,
.logout_button:hover {
  color: #FF4C3B;
  font-weight: bold;
}

.add_adm_button:hover {
  color: #3B8DFF;
  font-weight: bold;
}

.edit_button:hover {
  color: #4CFF4C;
  font-weight: bold;
}

.modal-footer .cancel-delete:hover {
  background-color: #D4FFD4;
}

.modal-footer .confirm-delete:hover {
  background-color: var(--danger-color);
}

.user_info {
  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
  gap: 32px;
  width: 40%;
}

.info {
  gap: 8px;
  width: 100%;
}

.info label {
  font-size: 24px;
  font-weight: 500;
}

.info input {
  width: 65%;
  height: 60px;
  background-color: #d3d3d3;
  border-radius: 20px 0 0 20px;
  border: 3px solid var(--page-color-6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0 10px;
  transition: box-shadow .3s ease-in-out;
}

.info input:focus {
  outline: none;
  border-color: var(--page-color-2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.info:nth-child(2) {
  margin-left: 100px;
}

.info:nth-child(3) {
  margin-left: 200px;
}

.info:nth-child(4) {
  margin-left: 300px;
}

.role_show {
  width: 95px;
  height: 138px;
  background-image: url('adm_banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  right: 120px;
}

.adm-picture {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-image: url('placeholder-image.png');
  background-size: cover;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--page-color-6);
}
