<div class="background d-flex justify-content-center position-relative h-100 w-100">
  <div class="content-background position-absolute">
  </div>
  <section>
    <app-header class="content-gambiarra container position-absolute"></app-header>
    <div class="texture-ball position-absolute d-flex justify-content-center align-items-center">
      <div class="profile-image"></div>
    </div>
    <div class="cruds d-inline-flex position-absolute flex-column justify-content-between align-items-start">
      <div class="d-flex flex-column add_adm_button align-items-center crud">
        <mat-icon>add</mat-icon>
        <p>Add adm</p>
      </div>
      <div class="d-flex flex-column edit_button align-items-center crud">
        <mat-icon>edit</mat-icon>
        <p>Editar</p>
      </div>
      <div class="d-flex flex-column logout_button align-items-center crud">
        <mat-icon>logout</mat-icon>
        <p>Sair</p>
      </div>
      <div class="d-flex flex-column delete_button align-items-center crud">
        <mat-icon>delete</mat-icon>
        <p>Deletar</p>
      </div>
    </div>
  </section>
</div>
