<div class="background vw-100 vh-100">
  <div class="content-background">
  </div>
  <section>
    <app-header class="content-gambiarra container position-absolute"></app-header>
    <div class="container forms-container position-absolute">
      <form [formGroup]="userDataShow" class="user_info d-flex flex-column">
        <div class="info d-flex flex-column">
          <label for="name_show">Nome</label>
          <input type="text" formControlName="name" id="name_show">
        </div>
        <div class="info d-flex flex-column">
          <label for="user_show">Usuário</label>
          <input type="text" formControlName="username" id="user_show">
        </div>
        <div class="info d-flex flex-column">
          <label for="email_show">E-mail</label>
          <input type="email" formControlName="email" id="email_show">
        </div>
      </form>
      <div class="cruds d-inline-flex justify-content-between align-items-start">
        @if (this.userData) {
          <button *ngIf="this.userData.is_staff && !isEditable"
                  class="d-flex flex-column add_adm_button align-items-center crud" data-bs-toggle="modal"
                  data-bs-target="#addAdmModal">
            <mat-icon>add</mat-icon>
            <p>Add adm</p>
          </button>
        }
        <button class="d-flex flex-column edit_button align-items-center crud"
                (click)="isEditable? saveChanges() : toggleEdit()">
          <mat-icon>{{ isEditable ? 'check' : 'edit' }}</mat-icon>
          <p>{{ isEditable ? 'Salvar' : 'Editar' }}</p>
        </button>
        <button *ngIf="isEditable" class="d-flex flex-column cancel_button align-items-center crud"
                (click)="cancelEdit()">
          <mat-icon>close</mat-icon>
          <p>cancelar</p>
        </button>
        <button class="d-flex flex-column logout_button align-items-center crud" *ngIf="!isEditable"
                data-bs-toggle="modal" data-bs-target="#exitModal">
          <mat-icon>logout</mat-icon>
          <p>Sair</p>
        </button>
        <button class="d-flex flex-column delete_button align-items-center crud" *ngIf="!isEditable"
                data-bs-toggle="modal" data-bs-target="#deleteAccount">
          <mat-icon>delete</mat-icon>
          <p>Deletar</p>
        </button>
      </div>
    </div>

    <label for="profile_image_base64" class="adm-picture position-absolute d-flex flex-column align-items-center">
      <figure class="position-relative">
        <div class="black-bg position-absolute top-0 start-0"></div>
        <img [src]="this.profileImageBase64String ?? '/placeholder-user.png'" alt=""
             class="w-100 h-100">
      </figure>
      @if (showSendImageButton) {
        <button type="button" class="btn" (click)="editProfileImage()">Enviar imagem</button>
      }
    </label>

    <input (input)="updateImage()" type="file" name="profile_image_base64" id="profile_image_base64" class="d-none">

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div *ngIf="logMessage" class="toast show toast-error" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="logo.svg" class="rounded me-2 toast-image" alt="...">
          <strong class="me-auto">Matematês erro</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" (click)="logMessage = null"
                  aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ logMessage }}
        </div>
      </div>
    </div>

    <!--modals-->
    <div class="modal fade" id="addAdmModal" tabindex="-1" aria-labelledby="admModal" aria-hidden="true">
      <div class="modal-dialog w-100 h-100 p-0 m-0">
        <div class="modal-content d-flex flex-column w-100 h-100">
          <div class="modal-header d-block w-100 text-center border-0 p-0">
            <h1 class="modal-title" id="admModal">Promover um usuário para administrador</h1>
          </div>
          <div class="modal-body px-0">
            <form action="">
              <div class="d-flex gap-p flex-column">
                <label for="email">Email</label>
                <input type="email" id="email">
              </div>
            </form>
          </div>
          <div class="modal-footer border-0 d-flex justify-content-between">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="confirm" data-bs-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-short fade" id="exitModal" tabindex="-1" aria-labelledby="exit" aria-hidden="true">
      <div class="modal-dialog w-100 h-100 p-0 m-0">
        <div class="modal-content d-flex flex-column w-100 h-100">
          <div class="modal-header d-block w-100 text-center border-0 p-0">
            <h1 class="modal-title" id="exitM">Tem certeza que deseja sair?</h1>
          </div>
          <div class="modal-footer border-0 d-flex justify-content-between">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="confirm" data-bs-dismiss="modal" (click)="authService.logout()">Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog w-100 h-100 p-0 m-0">
        <div class="modal-content d-flex flex-column w-100 h-100">
          <div class="modal-header d-block w-100 text-center border-0 p-0">
            <h1 class="modal-title" id="deleteModal">excluir sua conta? (Essa ação é irreversível)</h1>
          </div>
          <div class="modal-body">
            <form [formGroup]="deleteForm" (ngSubmit)="confirmDeletion()" class="d-flex flex-column">
              <div class="d-flex gap-p flex-column">
                <label for="username">username</label>
                <input type="text" id="username" formControlName="username" autocomplete="username">
              </div>
              <div class="d-flex gap-p flex-column">
                <label for="password">Senha</label>
                <input type="password" id="password" formControlName="password" autocomplete="current-password">
              </div>
              <div class="modal-footer border-0 d-flex justify-content-between">
                <button type="button" class="cancel-delete" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="confirm-delete" [disabled]="deleteForm.invalid" data-bs-dismiss="modal">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
