.background {
  background-image: url("backgrounds.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-gambiarra {
  width: 58%;
  left: 1%;
}

::ng-deep .logo {
  width: 40px !important;
}

::ng-deep .navItems {
  position: static;
  transform: none !important;
}

::ng-deep .navItems li {
  width: max-content;
}

.forms-container {
  top: 58%;
  left: 12%;
  transform: translateY(-50%);
}

.cruds {
  flex-shrink: 0;
  width: 32%;
  color: var(--page-color-6);
  bottom: 0;
  margin-top: 25px;
}

.crud {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--page-color-6);
}

.crud, .crud button {
  transition: color .3s ease-in-out;
}

.crud .mat-icon {
  font-size: 35px !important;
  width: 35px;
  height: 35px;
}

.delete_button:hover,
.logout_button:hover,
.cancel_button:hover {
  color: #FF4C3B;
  font-weight: bold;
}

.add_adm_button:hover {
  color: #3B8DFF;
  font-weight: bold;
}

.edit_button:hover {
  color: #4CFF4C;
  font-weight: bold;
}

.modal-footer {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-footer .cancel-delete:hover {
  background-color: #D4FFD4;
}

.modal-footer .confirm-delete:hover {
  background-color: var(--danger-color);
}

.user_info {
  gap: 28px;
  width: 43%;
}

.info {
  gap: 8px;
  width: 78%;
}

.info label {
  font-size: 20px;
  font-weight: 500;
  color: var(--page-color-6);
}

.info input {
  height: 45px;
  width: 100%;
  background-image: url("form-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  position: relative;
  font-size: 14px;
  padding: 0 10px;
  transition: box-shadow .3s ease-in-out;
}

.info input:focus {
  outline: none;
  border-color: var(--page-color-2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.adm-picture {
  width: 20vw;
  height: 20vw;
  border-radius: 430px;
  background-image: url('placeholder-image.png');
  background-size: cover;
  border: 2px solid var(--page-color-6);
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
}

@media (min-height: 1080px) {
  ::ng-deep .logo {
    width: 60px !important;
  }

  .forms-container {
    top: 56%;
  }

  .info input {
    background-size: cover;
    height: 6.4vh;
  }

  .crud .mat-icon {
    font-size: 64px !important;
    width: 64px;
    height: 64px;
  }

  .user_info {
    gap: 45px;
  }

  .cruds {
    margin-top: 20px;
  }

  .info {
    gap: 15px;
  }

  .info label {
    font-size: 32px;
  }

  .info input {
    font-size: 18px;
  }


}
