:root {
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
  --background-color: #D6D6D6;
  --page-color-4: #5483B3;
}

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, sans-serif !important;}

.container {
  max-width: 1770px;
}

body {
  background-color: var(--background-color);
  background-image: image("../public/background.png");
}
