:root {
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
  --background-color: #D6D6D6;
  --danger-color: #FFD4D4;
  --page-color-1: #FFF;
  --page-color-2: #3A5572;
  --page-color-3: #7DA0CA;
  --page-color-4: #5483B3;
  --page-color-5: #021024;
  --page-color-6: #052659;
}

html, body {
  height: 100vh;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif !important;
  background-color: var(--page-color-1);
  background-image: url("background.png");
  background-size: cover;
  background-repeat: repeat;
  backdrop-filter: opacity(0.5) blur(10px);
}

.container {
  max-width: 94%;
}

.custom-dialog-container {
  background-color: red;
}
